# IntelliJ IDEA files
.idea/
*.iml

# CMake build folders
**/cmake-build-debug/
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
*.cmake


# OS files
.DS_Store
Thumbs.db

# Compiled / binary files
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.class
*.jar

# Logs
*.log

# Ignore everything else
*

# Allow directories (so Git can recurse)
!*/

# Allow only source files
!*.cpp
!*.c
!*.h
!*.hpp
